<form class="pd6 sheet item armor" autocomplete="off">
  <header class="pd6-item-header">
    <img src="{{item.img}}" data-edit="img" width="48" height="48" />
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Armour Name" /></h1>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="details">Details</a>
    <a class="item" data-tab="traits">Traits</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="description">
      <div class="pd6-editor-container">
        {{editor system.description target="system.description" button=true owner=owner editable=editable}}
      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="details">
      <div class="pd6-item-fields">
        <div class="pd6-field">
          <label>Type</label>
          <select name="system.armorType">
            {{#each armorTypes}}
              <option value="{{@key}}" {{#if (eq @key ../system.armorType)}}selected{{/if}}>{{this}}</option>
            {{/each}}
          </select>
        </div>
        <div class="pd6-field">
          <label>Armour Value (AV)</label>
          <input type="number" name="system.armorValue" value="{{system.armorValue}}" min="0" />
        </div>
        <div class="pd6-field">
          <label>Penalty</label>
          <input type="number" name="system.penalty" value="{{system.penalty}}" max="0" />
        </div>
        <div class="pd6-field">
          <label>Cost</label>
          <input type="text" name="system.cost" value="{{system.cost}}" />
        </div>
        <div class="pd6-field">
          <label>Encumbrance</label>
          <input type="number" name="system.encumbrance" value="{{system.encumbrance}}" min="0" />
        </div>
        <div class="pd6-field">
          <label>Rarity</label>
          <input type="number" name="system.rarity" value="{{system.rarity}}" min="0" />
        </div>
        <div class="pd6-field">
          <label>Equipped</label>
          <input type="checkbox" name="system.equipped" {{#if system.equipped}}checked{{/if}} />
        </div>
      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="traits">
      <div class="pd6-weapon-traits-grid">
        <label class="pd6-weapon-trait-checkbox">
          <input type="checkbox" name="system.traitReinforced" {{#if system.traitReinforced}}checked{{/if}} />
          <span class="pd6-trait-name">Reinforced</span>
          <span class="pd6-trait-effect">Armour dice → Red (3+)</span>
        </label>
        <label class="pd6-weapon-trait-checkbox">
          <input type="checkbox" name="system.traitClanging" {{#if system.traitClanging}}checked{{/if}} />
          <span class="pd6-trait-name">Clanging</span>
          <span class="pd6-trait-effect">Penalty to Stealth rolls</span>
        </label>
      </div>
      <div class="pd6-field pd6-custom-traits">
        <label>Custom / Other Traits</label>
        <input type="text" name="system.armorTraits" value="{{system.armorTraits}}" placeholder="Additional traits not listed above" />
      </div>
    </div>
  </section>
</form>
