<form class="pd6 sheet item equipment" autocomplete="off">
  <header class="pd6-item-header">
    <img src="{{item.img}}" data-edit="img" width="48" height="48" />
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Equipment Name" /></h1>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="details">Details</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="description">
      <div class="pd6-editor-container">
        {{editor system.description target="system.description" button=true owner=owner editable=editable}}
      </div>
    </div>
    <div class="tab" data-group="primary" data-tab="details">
      <div class="pd6-item-fields">
        <div class="pd6-field">
          <label>Cost</label>
          <input type="text" name="system.cost" value="{{system.cost}}" />
        </div>
        <div class="pd6-field">
          <label>Encumbrance</label>
          <input type="number" name="system.encumbrance" value="{{system.encumbrance}}" min="0" />
        </div>
        <div class="pd6-field">
          <label>Rarity</label>
          <input type="number" name="system.rarity" value="{{system.rarity}}" min="0" />
        </div>
        <div class="pd6-field">
          <label>Quantity</label>
          <input type="number" name="system.quantity" value="{{system.quantity}}" min="0" />
        </div>
        <div class="pd6-field">
          <label>Equipped</label>
          <input type="checkbox" name="system.equipped" {{#if system.equipped}}checked{{/if}} />
        </div>
      </div>
    </div>
  </section>
</form>
